*{
	border:0 none;
	margin:0;
	padding:0;	
}

body{
	background-color: black;
	background:url("../img/bodyBg.png") repeat scroll 0 0 black;
}



#topBanner {
	position: absolute; top: 0; left: 0;
	background:url("../img/topBanner.png") repeat-x scroll 0 0 transparent;
	height:87px;
	width:100%;
	z-index: 10;
}

#page{
	width: 960px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	z-index: 20;	
	/*border: 1px solid yellow;*/
}

	#bannerArea{
		width: 100%;
		height: 87px;
	}

	#logo{
		width: 337px;
		height: 87px;
		position: absolute; top: 0px; left: 0px;
		background: url('../img/gumworm-logo.png') transparent no-repeat;	
	}
	
	#toolInfo{
		width: 593px;
		height: 144px;
		position: absolute; top: 30px; left: 360px;
		background: url('../img/info-skillChecker.png') no-repeat;
	}
	
	#content{
		/*border: 1px solid red;*/
		position: absolute; top: 100px; left: 0;
		width: 100%;
		height: 300px;

	}
	
	#contentLeft{
		width: 300px;
		float: left;	
	}
	
	#contentRight{
		width: 600px;
		float: left;	
		margin: 100px 0 0 20px;
	}	
/*
     FILE ARCHIVED ON 01:51:53 Jun 27, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:00:56 Nov 29, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 242.759
  exclusion.robots: 0.116
  exclusion.robots.policy: 0.107
  cdx.remote: 0.061
  esindex: 0.009
  LoadShardBlock: 221.977 (3)
  PetaboxLoader3.datanode: 222.043 (4)
  CDXLines.iter: 14.01 (3)
  load_resource: 78.055
  PetaboxLoader3.resolve: 63.406
*/